body{
  margin: 0;
  background-color: #264653;
}
html {
  scroll-behavior: smooth;
}

body #expand_more{
  color: #fff;
  font-size: 35px;
}
body #expand_more2{
  color: #fff;
  font-size: 35px;
  margin-bottom: 35px;
}

#info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#profile{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}


#profile img{
  margin-top: 10px;
  border-radius: 50%;
  transition: all 0.9s;

}

#profile #iago:hover{
  color: #F4A261;
  transform: scale(1.1);

}

#profile img:hover{
  transform: scale(1.1);

}
#profile #cumpliment {
  margin-top: 5px;
  display: flex;
  margin-bottom: 0;
}

#profile #cumpliment h1{
  margin-top: 0;
  margin-bottom: 0;
  font-family: Nunito;
  font-size: 100px;
  color: #fff;
  margin-right: 5mm;
  transition: all 0.2s;
}

#profile h3{
  margin-top: 0px;
  margin-bottom: 12px;
  font-family: Nunito;
  font-size: 50px;
  color: #F4A261;
}

.buttons-container{
  display:flex;
  align-items: center;
  justify-content: center;
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 16px;
  font-size: 30px;
  font-family: Nunito;
  font-size: 70px;
  border-radius: 50%;
  text-decoration: none;
  color: #264653;
  background-color: #2A9D8F;
  transition: all 0.5s
}
.button:hover{
  color: #264653;
  background-color: #F4A261;
  transform: scale(1.2);
}

.button span{
  font-size: 100px;
  color: #264653;
}

.topic{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.topic h1{
  font-family: Nunito;
  color: #fff;
  font-size: 65px;
  margin-top: 30px;
}

.topic .langs{
  display: grid;
  grid-gap:10px;
  margin-bottom: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.topic svg{
  width: 110px;
  padding: 20px;  
  background-color: #2A9D8F;
  fill: #264653;
  transition: transform 0.5s;
}
.topic svg:hover{
  transform: scale(1.2);
  background-color: #F4A261;

}

.topic span{
  font-family: Nunito;
  color: #2A9D8F;
  font-size: 40px;
  
}

.topic p{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.topic p .institute{
  font-family: Nunito;
  color: #F4A261;
  width:90vw;
  text-align: center;
  font-size: 30px;
}
.topic p .course{
  font-size: 33px;
  text-align: center;
  width:90vw;

  
}
.topic p .conclusion{
  font-size: 28px;
  text-align: center;
  width:90vw;

}