body{
  margin: 0;
  background-color: #264653;
}

#profile{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

#profile img{
  margin-top: 30px;
  border-radius: 50%;
}

#profile h1{
  font-family: Nunito;
  font-size: 100px;
  margin-bottom: 0;
  color: #fff;
}

#profile h3{
  margin-top: 0px;
  font-family: Nunito;
  font-size: 50px;
  color: #F4A261;
}

.buttons-container{
  display:flex;
  align-items: center;
  justify-content: center;
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 16px;
  font-size: 30px;
  font-family: Nunito;
  font-size: 70px;
  border-radius: 50%;
  text-decoration: none;
  color: #264653;
  background-color: #2A9D8F;
  transition: background-color 0.9s
}
.button:hover{
  color: #264653;
  background-color: #F4A261;
}

.button span{
  font-size: 100px;
  color: #264653;
}

.topic{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.topic h1{
  font-family: Nunito;
  color: #fff;
  font-size: 65px;
}

.topic .langs{
  display: grid;
  grid-gap:10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.topic svg{
  width: 110px;
  padding: 20px;  
  background-color: #2A9D8F;
  fill: #264653;
  transition: width 0.5s
}
.topic svg:hover{
  width: 120px;
}

.topic span{
  font-family: Nunito;
  color: #2A9D8F;
  font-size: 40px;
}

.topic p{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.topic p .institute{
  font-family: Nunito;
  color: #F4A261;
  font-size: 25px;
}
.topic p .course{
  font-size: 23px;
  
}
.topic p .conclusion{
  font-size: 18px;
}